*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, rgb(245, 136, 227), rgb(240, 176, 235));
    height: 100vh;
    color: rgba(238, 62, 209, 0.562);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.Calculadora{
    position: absolute;
    background-color: rgba(245, 202, 231, 0.918);
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
}
.botao{
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(248, 115, 248);
}
.botao:hover{
    background-color: rgba(243, 0, 190, 0.3);
    color: rgb(238, 83, 199);
}
#resultado{
    background-color: rgb(223, 125, 202);
    width: 207px;
    height: 30px;
    margin: 5px;
    color: black;
    text-align: right;
    padding: 5px;
}